

<center>
<div class="container">
	<form action="/user/create" method="POST" role="form" class="form-horizontal">

		<h2 class="form-signin-heading">Create an account</h2>


	    <% if(flash && flash.err) { %>
	      <div class="alert alert-success">
	    <%= JSON.stringify(flash["err"]) %>
	      </div>
	    <% } %>

		<input type="text" class="form-control" placeholder="first name" name="firstName">

		<input type="text" class="form-control" placeholder="last name" name="lastName">
		<input type="text" class="form-control" placeholder="email" name="email">
		<input type="password" class="form-control" placeholder="password" name="password">
		<input type="password" class="form-control" placeholder="password confirmation" name="password_confirmation">	

		<input type="submit" class="btn btn-lg btn-primary" value="Create" />
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />

	</form>
</div>
</center>