<div class="container">
	<div class="jumbotron">
		<center>
		<h1>garden</h1>
		<a href="user/new" class="btn btn-lg btn-success">Sign Up</a>
		<a href="main/login" class="btn btn-lg btn-success">Login</a>
		</center>
	</div>
</div>